/* You can add global styles to this file, and also import other style files */

@font-face {
  font-family: promt;
  src: url(assets/fonts/promt/Prompt-Medium.ttf) format("opentype");
}

html, body { height: 100%; }
body { margin: 0; font-family: promt, "Helvetica Neue", sans-serif; }


* {

  font-family: 'promt', 'arial', sans-serif;
}
